@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: hsl(275, 100%, 97%);
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

main {
    border-radius: 10px;
    height: 430px;
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: hsl(0, 0%, 100%);
}

header {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

header img {
    width: 25px;
    height: 25px;
}

header h1 {
    margin-left: 20px;
    font-family: 'Work Sans';
    color: hsl(292, 42%, 14%);
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section p {
    font-family: 'Work Sans';
    font-size: 14px;
    margin-right: 30px;
    color: hsl(292, 42%, 14%);
    font-weight: bold;    
}

section img {
    margin-right: 5px;
    height: 25px;
    width: 25px;
}

article {
    margin-top: 20px;
    margin-bottom: 20px;
}

article p {
    font-family: 'Work Sans';
    font-size: 12px;
    color: hsl(292, 16%, 49%);
}

table {
    width: 100%;
}

table, tr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

table td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-container {
    padding-right: 50px;
}

table td p {
    font-family: 'Work Sans';
    color: hsl(292, 42%, 14%);
    font-weight: bold;
    font-size: 12px;
    width: 80%;
    display: inline;
}

table td img {
    height: 25px;
    width: 25px;
}

.images-table {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    
    body {
        background-image: url(assets/images/background-pattern-desktop.svg);
    }

    main {
        width: 500px;
        height: 360px;
    }
}