@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    display: grid;
    row-gap: 25px;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.daniel {
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    padding: 20px;
}

.jonathan {
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 20px;
}

.jeanette {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
}

.patrick  {
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px;
    padding: 20px;
}

.patrick > .photo-name > img {
    border-color: hsl(263, 55%, 52%);
}

.kira {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
}

.photo-name {
    display: flex;
    align-items: center;
}

.photo-name img {
    border-radius: 100%;
    height: 35px;
    width: 35px;
    margin-right: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: hsl(0, 0%, 100%, 0.5);  
}

.white-name {
    color:  hsl(0, 0%, 100%);
    font-weight: 500;
    margin: 0;
    font-family: 'Barlow Semi Condensed';
    font-size: 13px;
}

.white-verified {
    color:  hsl(0, 0%, 100%);
    opacity: 0.7;
    margin: 0;
    font-family: 'Barlow Semi Condensed';
    font-size: 13px;
}

.black-name {
    color:  hsl(219, 29%, 14%);
    font-weight: 500;
    margin: 0;
    font-family: 'Barlow Semi Condensed';
    font-size: 13px;
}

.black-verified {
    color:  hsl(219, 29%, 14%);
    opacity: 0.7;
    margin: 0;
    font-family: 'Barlow Semi Condensed';
    font-size: 13px;
}

.title-white {
    font-family: 'Barlow Semi Condensed';
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}

.paragraph-white {
    font-size: 13px;
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-family: 'Barlow Semi Condensed';
}

.title-black {
    font-family: 'Barlow Semi Condensed';
    font-size: 18px;
    color: hsl(219, 29%, 14%);
}

.paragraph-black {
    font-size: 13px;
    color: hsl(219, 29%, 14%);
    opacity: 0.7;
    font-family: 'Barlow Semi Condensed';
}

@media only screen and (min-width: 992px) {

    .daniel {
        grid-area: daniel;
    }

    .jonathan {
        grid-area: jonathan;
    }
    
    .jeanette {
        grid-area: jeanette;
    }
    
    .patrick  {
        grid-area: patrick;
    }
    
    .kira {
        grid-area: kira;
    }

    body {
        margin: 50px;
        gap: 20px;
        grid-template-areas: 
            'daniel daniel jonathan kira'
            'jeanette patrick patrick kira';
    }
}