* {
    box-sizing: border-box;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.911);
    padding-left: 20px;
    padding-right: 20px;
}

footer .logo {
    filter: brightness(0) invert(1);
    height: 18px;   
}

.icon img:hover {
    filter: invert(41%) sepia(96%) saturate(3698%) hue-rotate(337deg) brightness(114%) contrast(114%);
    cursor: pointer;
}

@media only screen and (min-width: 992px) {

    .section {
        flex-direction: row;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .section img {
        width: 50%;
    }

    .section div {
        width: 50%;
    }

    .section div h1, p {
        text-align: start;
    }

    .last-section {
        text-align: center;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    .first-div {
        padding-left: 80px;
    }

    footer p {
        width: 50%;
    }

    footer form {
        justify-content: space-between; 
        align-items: center;
    }

    #email {
        width: 50%;
    }

    #subscribe {
        margin-right: 200px;
    }

}