@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 100%);
}

h1 {
    color: hsl(278, 68%, 11%);
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 25px;
}

p {
    margin-top: 10px;
    color:  hsl(279, 6%, 55%);
    font-weight: 500;
}

.bg-card {
    height: 160px;
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-card img {
    width: 215px;
    position: absolute;
}

#card-back {
    right: 5%;
    top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}

#card-back-cvc {
    color: hsl(0, 0%, 100%);
    font-family: 'Space Grotesk';
    font-weight: 500;
    position: absolute;
    font-size: 10px;
    top: 72px;
    left: 78%;
    letter-spacing: 1px;
    margin-top: 0px;
}

#card-front {
    left: 20px;
    top: 86px;
    border-radius: 8px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}

#card-front-number, #card-front-name {
    color: hsl(0, 0%, 100%);
    font-family: 'Space Grotesk';
    font-weight: 500;
    position: absolute;
    letter-spacing: 2px;
    margin-top: 0;
}

#card-front-number {
    top: 150px;
    left: 35px;
    width: 100%;
    font-size: 13px;
}

#card-front-name {
    top: 180px;
    left: 35px;
    letter-spacing: 2px;
    font-size: 8px;
}

#card-front-month, #separate-slash, #card-front-year {
    color: hsl(0, 0%, 100%);
    font-family: 'Space Grotesk';
    font-weight: 500;
    position: absolute;
    letter-spacing: 2px;
    font-size: 8px;
    top: 180px;
    margin-top: 0;
}

#card-front-month {
    left: 190px;
}

#separate-slash {
    left: 205px;
}

#card-front-year {
    left: 210px;
}

#card-logo {
    width: 50px;
    top: 100px;
    left: 30px;
}

.success-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Space Grotesk';
}

.link-container {
    background-color: hsl(278, 68%, 11%);
    border-radius: 8px;
    margin-top: 20px;
}

.link-container a {
    text-decoration: none;
    font-family: 'Space Grotesk';
    color: hsl(0, 0%, 100%);
    display: block;
    padding: 10px 100px 10px 100px;
}

@media only screen and (min-width: 1100px) {

    html, body {
        height: 100%;
    }

    body {
        display: flex;
    }

    .bg-card {
        height: 100%;
        width: 45%;
        background-image: url(images/bg-main-mobile.png);
    }

    .bg-card img {
        width: 320px;
    }

    #card-back {
        left: 250px;
        right: 0px;
        top: 350px;
    }

    #card-back-cvc {
        top: 426px;
        left: 500px;
        font-size: 15px;
    }
    
    #card-front {
        left: 200px;
        top: 150px;
    }
    
    #card-logo {
        left: 220px;
        top: 170px;
    }

    #card-front-number {    
        top: 250px;
        left: 225px;
        font-size: 20px;
    }

    #card-front-name {
        top: 295px;
        left: 226px;
        font-size: 12px;
        width: 100%;
    }
    
    #card-front-month, #separate-slash, #card-front-year {
        font-size: 12px;
        top: 295px;
    }
    
    #card-front-month {
        left: 450px;
    }
    
    #separate-slash {
        left: 470px;
    }
    
    #card-front-year {
        left: 478px;
    }

    .success-container {
        margin-top: 0px;
        width: 100%;
        margin-left: 150px;
    }

    .link-container a {
        padding: 10px 150px 10px 150px;
    }
}