@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
}

html, body {
    height: 100%;
}

body {
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 280px;
    height: 280px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    color: hsl(150, 100%, 66%);
    font-size: 13px;
    letter-spacing: 3px;
    margin-top: 50px;
}

p {
    color: hsl(193, 38%, 86%);
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    margin-top: auto;
    margin-bottom: auto;
}

#container-divider {
   width: 100%;
   height: auto;  
}

#container-divider img {
    width: 100%;
}

#container-divider img:last-child {
    display: none;
}

#icon-dice {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
}

#icon-dice:hover {
    box-shadow: 0 4px 50px 1px hsl(150, 100%, 66%);
}

#icon-dice img {
    padding: 15px;
}

#icon-dice img:hover {
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
 
    main {
        width: 600px;
        height: 350px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 35px;
    }

    #container-divider img:first-child {
        display: none;
    }

    #container-divider img:last-child {
        display: block;
    }

    #icon-dice {
        top: 32px;
    }

    #icon-dice img {
        padding: 20px;
    }
}